@font-face {
    font-family: 'Poppins';
    src: url('./media/fonts/Poppins-Regular.ttf');
}

html{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:antiquewhite;
    font-family: 'Poppins';
}
li{
    list-style-type: none;
}
#box{
    width: calc(100vw - 10px);
    max-width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid white;
    border-radius: 10px;
    background-color: white;
    box-shadow: 6px 6px rgb(192, 177, 157);
}
#input-box{
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}
#input-text{
    width: 270px;
    height: 34px;
    margin: 0px;
    padding: 0px;
    border: 3px solid lightgray;
    border-radius: 10px;
    outline-color: grey;
}
#add-button{
    min-width: 40px;
    min-height: 40px;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#add-button:hover{
    background-color: rgb(238, 238, 238);
}
#add-image{
    width: 16px;
    height: 16px;
}
.delete-button{
    min-width: 40px;
    min-height: 40px;
    background-color: white;
    border: 3px solid lightgray;
    border-radius: 10px;
    margin: 2px 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button:hover{
    background-color: rgb(238, 238, 238);
}
.delete-image{
    width: 20px;
    height: 20px;
}
#list{
    width: 100%;
    height: 600px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
}
.item{
    width: 320px;
    margin: 6px 3px 6px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid lightgrey;
    box-sizing: border-box;
}
.item-text{
    width: 296px;
    height: 85%;
    font-size: 1.5em;
    margin: 0px;
}
::-webkit-scrollbar{
    position: absolute;
    width: 0px;
}
